a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.focused {
    /*outline: 2px solid green;*/
    outline: none;
    border: 2px solid lawngreen;
    border-radius: 2px;
}

.invalid {
    color: red;

}

.value {
    display: block;
}

.invalid-input {
    outline: none;
    border: 2px solid red;
    border-radius: 2px;
}

.valid-input {
    color: greenyellow;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.remove-btn {
    display: inline-block;
    color: red;
    margin-left: 10px;
    cursor: pointer;
}